{% extends "base.html" %}

{% block content %}
<section>
    <h2>Introducing Me!</h2>
    <img id="site-maintainer" alt="It's me Goofy" src="{{ url_for('static', filename='images/site-maintainer.png') }}">

    <h4>Contact Us! We would love your feedback!</h4>
    <p class="smaller-font"><img alt="Facebook logo" src="{{ url_for('static', filename='images/logo-facebook.png') }}">Facebook</p>
    <p class="smaller-font"><img alt="Twitter logo" src="{{ url_for('static', filename='images/logo-twitter.png') }}">Twitter</div>

</section>


{% endblock %}